

    .container{
max-width:  288px;
height: 604px;
margin: 20px auto;
padding: 20px 20px; 

}

.myApp{
    position: relative;
    top: 0px;
    margin: 50 auto;
    width:935px;
    height: 465px;
    background: rgba(222, 207, 194, 0.4);
    border: solid 1px rgba(222, 207, 194, 0.4);
    box-shadow: 13px 2px 18px #AC937D;
    border-radius: 22px;
}
#background{
    position: absolute;
    width:935px;
    height: 465px;
    z-index: -5;
    border-radius: 22px;
    padding-top: 50;
 }

#city-input {
    background-color: #c2a99300;
    width: 288px;
   height: 50px;
    position: relative;
    top: 20px;
    border: 1px solid #C2A993;
    border-radius: 43px;
    left: 344px;

}
::placeholder {
    text-align: center; 
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 39px;
color: #000000;
 }


#searchBtn{
    position: relative;
    top: 20PX;
    left: 350px;
    height: 50px;
    width: 80px;
    background: rgba(175, 136, 105, 0.53);
    border:#C2A993;
border-radius: 43px ;
}
h1{
    position: relative;
    top: 90px;
    left: 50px;
    font-weight:lighter;
}
ul{
    position: relative;
    top: 90px;
    left: 20px;
}
ul li{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight:500;
  
}
li::first-letter{
      text-transform: capitalize;
}
#icon{
    top: 30px;
    position: relative;
    width: 100px;
    left:200px;
}
#temperature{
    position: relative;
    top: 50px;
    left:200px;
    font-size: 70px;
    font-weight:500;
}
#units{
    position: relative;
    top: 10px;
    left:200px;
    font-weight:500;
}
#fah{
    text-decoration: none;
    color: black;
}
.active{
    color: black;
    cursor: default;
    text-decoration: none ;
}

.weather-forecast{
    position: relative;
    top:70px;
    left:50px;
    text-align: center;
}
.weather-forecast-date{
    font-size: 26px;
    font-weight: 600;
    color: #000;
    opacity: 0.6;
}
.weather-forcast-temperature-min{
    opacity: 0.8;
}
.weather-forcast-temperature{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}
.active:hover{
    text-decoration: none ;
    color: black;
}



